/**********************************************************************************

	Project Name: Responsive - Green Skeuomorph Style for Paidjoo Landing Page
	Project Description: Paidjoo is a business, corporate landing page, aimed for personal loans corporation and subscribe list page
	Author: xWisnux (Works of Wisnu)
	Author URI: http://www.worksofwisnu.com
	Version: 1.3.0

**********************************************************************************/
/* Large desktop */
@media (min-width: 1200px) {
	/* Head Form */
	.jslider .jslider-label{
		font-size: 18px !important;
		line-height: 4px !important;
	}

	.jslider .jslider-value{
		font-size: 24px !important;
		line-height: 0 !important;
	}

	.small-form-text {
		font-size: 12px;
	}

	/* Breakline */
	.counter{
		border-radius: 8px;
	}

	.counter li{
		width: 80px;
		border-radius: 6px;
	}

	.counter li:before {
		top: 48px;
	}

	.counter li:after {
		top: 50px;
	}

	.counter li span {
		font-size: 88px;
		line-height: 1.1em;
		height: 100px;
	}

	/* Footer Subscribe Form */
	.footer-subscribe input[type="email"] {
		width: 69.5%;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.chat-box{
		width: 212px !important;
	}

	/* Head Banner */
	h1.tagline{
		line-height: 1.2em;
	}

	.flexslider-testimonial{
		min-height: 205px !important;
	}

	/* Featurettes */
	span.rollover {
		height: 275px;
	}

	/* Lower Content */
	.toggle-heading .toggle-button{
		padding: 8px 15px;
	}

	.toggle-faq {
		display: none;
	}

	/* Pricing Table */
	.pricing-content ul {
		padding: 20px 8px;
		font-size: 12px;
	}

	.contact-info{
		width: 50%;
	}

	/* Breakline */
	.counter{
		margin: 65px 0;
	}

	.counter li {
		width: 50px;
	}

	.counter li span{
		font-size: 65px;
		line-height: 1.1em;
	}

	/* Footer Subscribe */
	.footer-subscribe input[type="email"]{
		width: 92%;
		margin-bottom: 8px;
	}

	.footer-subscribe .subscribe-submit{
		width: 101%;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	/* GLobal */
	section{
		padding: 20px !important;
	}

	/* Header */
	.head-social {
		width: 30%;
		display: inline-block;
	}

	.head-nav, .head-email{
		width: 69%;
		display: inline-block;
	}

	 .leftside-header, .rightside-header{
		width: 49%;
		display: inline-block;
		float: left;
	}

	#head-content{
		padding-bottom: 0 !important;
	}

	#head-banner{
		background-size: cover;
	}

	/* Marketing Content */
	.title{
		margin-bottom: 2em;
	}

	.marketing-content{
		margin-bottom: 60px;
	}

	/* Page Content */
	#page-content{
		text-align: center;
	}

	.team{
		text-align: left;
	}

	/* Dark Section */
	.dark-section [class*="span"]{
		text-align: center;
	}

	.checklist {
		text-align: left;
		padding: 0 30px;
	}

	.checklist li{
		margin-bottom: 20px;
	}

	.flexslider-featurettes .flex-control-nav {
		text-align: center !important;
	}

	/* Lower Content */
	#lower-content{
		text-align: center;
	}

	.toggle-content, .full-width-toggle-content{
		text-align: left;
	}

	.toggle-faq {
		display: none;
	}

	.green-toggle-faq, .blue-toggle-faq{
		margin-left: -15px;
	}

	.toggle-heading .toggle-button{
		padding: 8px 15px;
	}

	#lower-content > .container > .row > [class*="span"]{
		margin-bottom: 40px;
	}

	#lower-content .btn{
		float: none !important;
		width: 90%;
		padding: 10px 20px;
	}

	#lower-content > .container > .row > [class*="span"]{
		margin-bottom: 40px;
	}

	#lower-content .btn{
		float: none !important;
		width: 92%;
		padding: 10px 20px;
	}

	/* Pricing Table */
	.pricing-table{
		width: 55%;
		margin: 20px auto;
	}

	.pricing-content ul {
		padding: 20px 40px;
	}

	/* Breakline */
	#breakline{
		text-align: center;
		padding: 50px;
	}

	.counter{
		margin: 65px 0;
	}

	.counter li {
		width: 50px;
	}

	.counter li span{
		font-size: 65px;
		line-height: 1.1em;
	}

	/* Footer */
	#footer{
		text-align: center;
	}

	#footer .social{
		margin-bottom: 20px;
		float: none;
	}

	.footer-subscribe input[type="email"]{
		width: 74%;
	}
}

/* Landscape iPhone5 and down */
@media (max-width: 568px) {
	/* Header */
	.head-social {
		width: 37%;
	}

	.head-nav, .head-email{
		width: 62%;
	}

	/* Lower Content */
	.green-toggle-faq, .blue-toggle-faq, .toggle-faq {
		display: none;
	}

	/* Footer */
	.footer-subscribe input[type="email"] {
		width: 73%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	/* Header */
	#top-header{
		padding: 10px 20px;
	}

	.head-social, .head-nav, .head-email, .leftside-header, .rightside-header{
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	.nav{
		padding-top: 8px;
		float: none;
		margin: 0 auto;
		width: auto;
		display: inline-block;
	}

	.head-email, .rightside-header{
		float: right;
	}

	.sub-tagline{
		text-align: center;
	}

	/* Pricing Table */
	.pricing-table{
		width: 75%;
	}

	/* Footer */
	.footer-subscribe input[type="email"]{
		width: 67%;
	}

}

/* Portrait phones and down */
@media (max-width: 320px) {
	h1 {
	  font-size: 38.5px;
	}

	h2 {
	  font-size: 31.5px;
	}

	h3 {
	  font-size: 24.5px;
	}

	h4 {
	  font-size: 17.5px;
	}

	h5 {
	  font-size: 14px;
	}

	h6 {
	  font-size: 11.9px;
	}

	/* Header */
	#top-header{
		padding: 10px 0;
	}

	.head-social, .head-nav, .head-email, .leftside-header, .rightside-header{
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	.head-nav{
		padding-top: 8px;
		float: none;
	}

	.nav-pills > li > a{
		padding: 7px;
	}

	.head-email, .rightside-header{
		float: none;
	}

	.head-email p{
		float: none;
	}

	.rightside-header{
		text-align: left;
		width: 75%;
		margin: 0 auto;
		display: block;
	}

	/* Head Banner */
	.headbanner-form h2{
		padding: 0;
	}

	.headbanner-form input[type="submit"]{
		font-size: 22px;
	}

	/* Content */
	#marketing .title, .dark-section .title{
		padding: 0;
	}

	.checklist{
		padding: 0;
	}

	#lower-content .btn{
		width: 85%;
	}

	.flexslider-content-testimonial{
		margin: 20px 0 60px !important;
	}

	/* Pricing Table */
	.pricing-table{
		width: 86%;
		margin: 20px auto;
	}

	.pricing-content ul {
		padding: 20px;
	}

	/* Breakline */
	.counter{
		padding: 3px;
	}

	.counter li{
		width: 40px;
	}

	.counter li:before{
		top: 32px;
	}

	.counter li:after{
		top: 35px;
	}

	.counter li span{
		font-size: 60px;
		height: 66px;
	}

	/* Footer */
	.footer-subscribe input[type="email"]{
		width: 90%;
		margin-bottom: 10px;
	}

	.footer-subscribe .subscribe-submit{
		width: 100%;
	}

	.footer-subscribe-text {
		font-size: 11px;
	}

}